.texte{
    height: 100%;
}
.texte h2{
    text-align: center;
    font-family: Arial;
}

.texte p{
    font-family: Arial;
    text-align: justify;
}
.texte p > a{
    text-decoration: none;
    color: blue;
}
.texte p > a : hover{
    text-decoration: underline;
    color: blue;
    
}
.imagesQuiSommesNous img {
    position: absolute;
    width: 20%;
    height: 30%;
    top: 40%;
    left: 40%;
}
.trombinoscope img {
    position: absolute;
    width:45%;
    height: 30;
    top: 72%;
    left: 28%;
    
}
.liencontact{
    position: absolute;
    top: 104%;
    left: 24%;
}
.fondCouleur{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Century Gothic;
    background-image: linear-gradient(to bottom,#636FA4,#E8CBC0);
}
.fondTexte{
    background-color: white;
    display: flex;
    height: 100%;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:none;
    box-shadow: -20px 45px 40px 3px rgba(0,0,0,0.75);
}