
/* le contenus du bas n'a rien a voir avec l'en-tete */

.container{

   /* width: 1280px;*/
    width: auto;
    height: 75%;
    background: #fff;
    /*margin-left:12%;*/
    display:flex;
    flex-flow: row nowrap;
    align-content: center;

}

.container .box{
    position: relative;
    width: fit-content;
    height: fit-content;
    background: #fff;
    margin: 20px;
    top:25%;
    display: flex;
    flex-flow: column nowrap;
}
.container .box .imgBox {
    position: relative;
    overflow: hidden;
}

.container .box .imgBox img
{
    max-width: 100%;
    max-height: 100%;
    transition: transform 2s;
}

.container .box:hover .imgBox img{
    transform: scale(1.2);
}

.container .box .details{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,.8);
    transform: scaleY(0);
    transition: transform .5s;
    width: auto;
    height: auto;
}
.container .box:hover .details{
    transform: scaleY(1);
}
.container .box .details .content
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align:center;
    padding: 15px;
    color: #fff;

}

ul>li
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
/* les couleurs des boutons sont modulables */
.content a:link, a:visited {
    background-color: white;
    color:black;
    border-style:solid;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
}

.content a:hover {
    background-color: black;
    color:white;
}