body{
    height: 100%
}

h1{
    text-align: center;
}

h2{
    margin-bottom: 10px;
    text-align: center;
}
.contenu{
    max-width: 70%;
    margin:auto;

}
.section {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-bottom: solid #C0C0C0;

}

.documentation{
    height: min-content;
    margin-bottom: 30px;

}

p{
    text-align: justify;
}

.photo{
    height: min-content;
    transform: translate(5%);
    margin-bottom: 30px;
}

img.image {
    width: 80%;
    margin-top: 10%;
}
